
@{
    ViewBag.Title = "Newsletter-View";
    Layout = "~/Views/Shared/Backend/_Layout.cshtml";
}

<h2>View</h2>

<body paddingwidth="0" paddingheight="0"   style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0" style="margin-left:5px; margin-right:5px; margin-top:0px; margin-bottom:0px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"  style='font-family:helvetica, sans-serif;'>
  
<!--  =========================== The header ===========================  -->   
    
<tbody>
<tr>
    <td height='25' bgcolor='#43474A' colspan='3'></td>
</tr>
<tr>
<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" class="spechide"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td height='130' bgcolor='#43474A'>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>
</td>
<td valign="top" width="600"><table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="MainContainer" bgcolor="#ffffff">
<tbody>
<!--  =========================== The body ===========================  -->   
<tr>
<td class='movableContentContainer'>
<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
        <tr>
            <td bgcolor='#43474A' valign='top'>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                    <tr>
                        <td align='left' valign='middle' >
                            <div class="contentEditableContainer contentImageEditable">
                                <div class="contentEditable" >
                                    <img src="images/logo.png" alt='Compagnie logo' data-default="placeholder" data-max-width="300" width='116' height='22'>
                                </div>
                            </div>
                        </td>

                        <td align='right' valign='top' >
                            <div class="contentEditableContainer contentTextEditable" style='display:inline-block;'>
                                <div class="contentEditable" >
                                    <a target='_blank' href="[SHOWEMAIL]" style='color:#A8B0B6;font-size:13px;text-decoration:none;'>If you have trouble viewing this email, click here.</a>
                                </div>
                            </div>
                        </td>
                        <td width='18' align='right' valign='top'>
                            <div class="contentEditableContainer contentImageEditable" style='display:inline-block;'>
                                <div class="contentEditable" >
                                    <a target='_blank' href="[SHOWEMAIL]"><img src="images/openBrowser.png" alt='open in browser image' data-default="placeholder" width='15' height='15' style='padding-left:10px;'></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
        <tr><td height='25' bgcolor='#43474A'></td></tr>

        <tr><td height='5' bgcolor='#62A9D2'></td></tr>

        <tr><td height='40' class='bgItem'></td></tr>

        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' class='bgItem'>
                    <tr>
                        <td  width='70'></td>
                        <td  align='center' width='530'>
                            <div class='contentEditableContainer contentTextEditable'>
                                <div class="contentEditable" style='font-size:32px;color:#555555;font-weight:normal;'>
                                    <h2 style='font-size:32px;'>Who we are</h2>
                                </div>
                            </div>
                        </td>
                        <td  width='70'></td>
                    </tr>

                    <tr><td colspan='3' height='22' ></td></tr>

                    <tr>
                        <td width='70'></td>
                        <td  align='center' width='530'>
                            <div class='contentEditableContainer contentTextEditable'>
                                <div class="contentEditable" style='font-size:13px;color:#99A1A6;line-height:19px;'>
                                    <p >Give information about your lifestyle, philosophy or what the impact you’re trying to make is.</p>
                                </div>
                            </div>
                        </td>
                        <td  width='70'></td>
                    </tr>

                    <tr><td colspan='3' height='45' ></td></tr>

                </table>
            </td>
        </tr>
    </table>
</div>
<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
        <tr><td height='10' bgcolor='#62A9D2'></td></tr>
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' bgcolor='62A9D2'>
                    <tr>
                        <td width='25'></td>
                        <td width='475' valign='middle'>
                            <div class='contentEditableContainer contentTextEditable'>
                                <div class="contentEditable" style='font-family:Georgia;font-style:italic;color:#0F4666;font-size:15px;line-height:19px;'>
                                    <p style='color:#0F4666;'>Stay in Touch!</p>
                                </div>
                            </div>
                        </td>
                        <td width='45' valign='top'>
                            <div class='contentEditableContainer contentFacebookEditable'>
                                <div class="contentEditable">
                                    <img src="images/facebook.png" alt='facebook' data-default="placeholder" data-customIcon="true" data-max-width='45' width='45' height='45' >
                                </div>
                            </div>
                        </td>
                        <td width='10'></td>
                        <td width='45' valign='top'>
                            <div class='contentEditableContainer contentTwitterEditable'>
                                <div class="contentEditable">
                                    <img src="images/twitter.png" alt='Twitter' data-default="placeholder" data-customIcon="true" data-max-width='45' width='45' height='45' >
                                </div>
                            </div>  
                        </td>
                        <td width='10'></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr><td height='10' bgcolor='#62A9D2'></td></tr>
    </table>
</div>
<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
        <tr><td height='20'></td></tr>
    </table>
</div>
<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
        <tr>
            <td>
                <div class='contentEditableContainer contentImageEditable'>
                    <div class="contentEditable">
                        <img class="banner" src="images/bigImg.jpg" alt='What we do' data-default="placeholder" data-max-width="600" width='600' height='180' >
                    </div>
                </div>
            </td>
        </tr>
        <tr><td height='10' bgcolor='#000000'></td></tr>
        <tr>
            <td bgcolor='#000000' style='padding:8px 0;'>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td width="20" class="spechide">&nbsp;</td>
                        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td align='left' valign='top' width='370' class="specbundle3">
                                        <div class='contentEditableContainer contentTextEditable'>
                                            <div class="contentEditable" style='color:#ffffff;font-size:21px;line-height:19px;'>
                                                <p ><span class="font">Something Cleverfont</span></p>
                                            </div>
                                        </div>
                                    </td>
                                    <td width='20' class="specbundle2"></td>
                                    <td class="specbundle2" align='center' valign='middle' width='180'>
                                        <div class='contentEditableContainer contentTextEditable'>
                                            <div class="contentEditable">
                                                <a target='_blank' class='link3' href="#" style='background:#62A9D2; color:#ffffff; padding:8px 10px;text-decoration:none;font-size:13px;'>Find out more</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td width="20" class="spechide">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>

            </td>
        </tr>
        <tr><td height='10' bgcolor='#000000'></td></tr>
    </table>
</div>
<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
        <tr><td height='20'></td></tr>
    </table>
</div>
<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
        <tr>
            <td width='291' class="specbundle2" valign='top'>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                    <tr><td height='15' colspan='3'></td></tr>

                    <tr>
                        <td width='20'></td>
                        <td width='251'>
                            <table width="251" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                <tr>
                                    <td>
                                        <div class='contentEditableContainer contentTextEditable'>
                                            <div class='contentEditable' style='color:#555555;font-size:21px;font-weight:normal;'>
                                                <h2 class='big' >Quick tip</h2>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td height='16'></td></tr>
                                <tr>
                                    <td>
                                        <div class='contentEditableContainer contentTextEditable'>
                                            <div class='contentEditable' style='color:#999999;font-size:13px;line-height:19px;'>
                                                <p >Give a quick tip about an improvement to lifestyle - such as a nutrition, breathing or meditation. Give more information on a landing page.</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td height='16'></td></tr>
                                <tr>
                                    <td>
                                        <div class='contentEditableContainer contentTextEditable'>
                                            <div class='contentEditable'>
                                                <a target='_blank' class='link1' href="#" >Read more</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width='20'></td>
                    </tr>

                    <tr><td height='15' colspan='3'></td></tr>
                </table>
            </td>

            <td width='18' valign="top" class="specbundle2">&nbsp;</td>
                          
            <td width='291' class="specbundle2" valign='top'>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                    <tr><td height='15' colspan='3'></td></tr>

                    <tr>
                        <td width='20'></td>
                        <td width='251'>
                            <table width="251" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                <tr>
                                    <td>
                                        <div class='contentEditableContainer contentTextEditable'>
                                            <div class='contentEditable' style='color:#555555;font-size:21px;font-weight:normal;'>
                                                <h2 class='big'>Invite people to a class</h2>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td height='16'></td></tr>
                                <tr>
                                    <td>
                                        <div class='contentEditableContainer contentTextEditable'>
                                            <div class='contentEditable' style='color:#999999;font-size:13px;line-height:19px;'>
                                                <p >Do you have specials if people invite a friend? Do you offer a summer special, Back to school promotion, New Year’s resolution or Spring Detox?</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td height='16'></td></tr>
                                <tr>
                                    <td>
                                        <div class='contentEditableContainer contentTextEditable'>
                                            <div class='contentEditable'>
                                                <a target='_blank' class='link1' href="#" >Read more</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width='20'></td>
                    </tr>

                    <tr><td height='15' colspan='3'></td></tr>
                </table>
            </td>
        </tr>
                        
    </table>
</div>
<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
        <tr><td height='20'> </td></tr>
    </table>
</div>
<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
        <tr><td colspan='3' height='16'>&nbsp;</td></tr>
        <tr>
            <td width='16' class="spechide">&nbsp;</td>
            <td width="568" class="specbundle2">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' >
                    <tr>
                        <td align='left' valign='top'>
                            <div class="contentEditableContainer contentTextEditable" >
                                <div class="contentEditable" style='color:#555555;font-size:21px;font-weight:normal;'>
                                    <h2 class='big'>Don’t forget to add a link to your website</h2>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr><td height='16'>&nbsp;</td></tr>
                    <tr>
                        <td align='left' valign='top'>
                            <div class="contentEditableContainer contentTextEditable" >
                                <div class="contentEditable" style='color:#999999;font-size:13px;line-height:19px;'>
                                    <p >Use this space to give a bit of information about yourself. Don’t forget to add your logo, and links back to your website.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr><td height='20'>&nbsp;</td></tr>
                    <tr>
                        <td align='right' valign='top' style='padding-bottom:8px;'>
                            <div class="contentEditableContainer contentTextEditable" >
                                <div class="contentEditable" >
                                    <a target='_blank' class='link2' href="#" style='padding:8px;background:#62A9D2;font-size:13px;color:#ffffff;text-decoration:none;font-weight:bold;'>Find out more →</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td width='16' class="spechide">&nbsp;</td>
        </tr>
        <tr><td colspan='3' height='16'>&nbsp;</td></tr>
    </table>
</div>
<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' class='bgBody' >
        <tr><td height='54' style='border-bottom:1px solid #DAE0E4'>&nbsp;</td></tr>

        <tr><td height='28'></td></tr>

        <tr>
            <td valign='top' align='center'>
                <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable" style='color:#A8B0B6; font-size:13px;line-height: 16px;'>
                        <p >This email was sent to [email] when you signed up on [CLIENTS.WEBSITE] Please add us to your contacts to ensure the newsletters land in your inbox.
                        </p>
                    </div>
                </div>
            </td>
        </tr>

        <tr><td height='28'></td></tr>

        <tr>
            <td valign='top' align='center'>
                <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable" style='color:#A8B0B6; font-weight:bold;font-size:13px;line-height: 30px;'>
                        <p >[CLIENTS.COMPANY_NAME]</p>
                    </div>
                </div>
                <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable" style='color:#A8B0B6; font-size:13px;line-height: 15px;'>
                        <p >[CLIENTS.ADDRESS]</p>
                    </div>
                </div>
                <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable" >
                        <a target='_blank' href="[FORWARD]" style='line-height: 20px;color:#A8B0B6; font-size:13px;'>Forward to a friend</a>
                    </div>
                </div>
                <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable" >
                        <a target='_blank' href='[UNSUBSCRIBE]' style='line-height: 20px;color:#A8B0B6; font-size:13px;'>Unsubscribe</a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
      
</td>
</tr>
</tbody>
</table>
</td>
<td valign="top" class="spechide"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td height='130' bgcolor='#43474A'>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>



<!--Default Zone End-->

</body>