
@{
    ViewBag.Title = "NewsletterCreate";
    Layout = "~/Views/Shared/Backend/_Layout.cshtml";
}


<h2 class="label-primary">Opret Newsletter</h2>

<form role="form" method="post" action="/Admin/NewsletterCreate">

    <div class="form-group">
        <label class="control-label" for="Title">Titel</label>
        <input type="text" class="form-control" name="Title" placeholder="Skriv Titel">
    </div>
    <div class="form-group">
        <label class="control-label" for="NewsletterContent">Content</label>
        <textarea id="summernote" rows="15" name="HtmlContent"class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-default">Gem</button> <a class="btn btn-danger" href="/Admin/NewsletterList"><i class="fa fa-times" aria-hidden="true"></i> Back </a>
   
</form>

@section scripts{
    
<link href="~/Scripts/summernote/summernote.css" rel="stylesheet" />
    <script src="~/Scripts/summernote/summernote.js"></script>
    <script>
        $('#summernote').summernote({
            height: 300,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true                  // set focus to editable area after initializing summernote
        });
    </script>
}