@model IEnumerable<Bageriet.Models.Slider>

@{
    ViewBag.Title = "SliderList";
    Layout = "~/Views/Shared/Backend/_Layout.cshtml";
}

<div id="page-content">
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-sliders"></i>SliderList <br><small>Liste af billeder i Slider </small>
            </h1>
        </div>
    </div>

    <div class="block block-alt-noborder" style="min-height: 300px">
        <h3 class="sub-header">Slider <small>Slider, mere kan tilføjes</small></h3>

        <a href="/Admin/SliderCreate" class="btn btn-info New"><i class=" fa fa-plus"></i> Tilføj Ny </a>
        <br />

        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Billede</th>
                  
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                                <img class="img-responsive" style="height: 250px; width: auto;" src="~/Uploads/slider/@item.ImageUrl" alt="SliderImage" />
                        </td>
                   
                        <td>
                            <a class="btn btn-danger" href="@Url.Action("DeleteSlider", "Admin")/@item.Id"><i class="fa fa-trash"></i></a>

                            <a class="btn btn-info" href="@Url.Action("SliderEdit","Admin")/@item.Id">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
